.row {
	margin-bottom: 30px;
}

.grey-header {
	background-color: #EEE;
}

.refresh-button {
	background-color: #FFF;
	font-weight: bold;
	color: green;
	border: 2px solid #4CAF50;
}

input[type=number]{
    width: 80px;
} 
